<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
      <div>
        <p>{{order.customer.name}}, {{order.customer.postcode}}</p>
      </div>
      <form name="newServiceForm" class="form-horizontal">
        <div class="form-group row">
          <div style="display:inline-block; min-height:290px;">
            <div style="width: 300px; margin-bottom: 20px;">
              <h3>Select a single city</h3>
              <!--ng-select></ng-select-->
              <!--ng-select [allowClear]="true"
                         [items]="items"
                         [disabled]="disabled"
                         (data)="refreshValue($event)"
                         (selected)="selected($event)"
                         (removed)="removed($event)"
                         (typed)="typed($event)"
                         placeholder="No city selected">
              </ng-select-->
            </div>
          </div>
          <!--div class="col-sm-3">
            <ui-select ng-model="newItem.product" theme="selectize" title="Select a Product">
              <ui-select-match placeholder="Select a Product">{{$select.selected.product.name}}</ui-select-match>
              <ui-select-choices repeat="serviceProduct.product as serviceProduct in serviceProducts | filter: $select.search">
                <span ng-bind-html="serviceProduct.product.name | highlight: $select.search"></span>
                <small ng-bind-html="serviceProduct.product.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </div-->
          <!--div class="col-sm-3">
            <ui-select ng-model="newItem.area" theme="selectize" title="Select an Area">
              <ui-select-match placeholder="Select an Area">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="area in areas | filter: $select.search">
                <span ng-bind-html="area.name | highlight: $select.search"></span>
                <small ng-bind-html="area.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </div-->
          <!--div class="col-sm-3">
            <ui-select ng-model="newItem.heading" theme="selectize" title="Select a Heading">
              <ui-select-match placeholder="Select a Heading">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="heading in headings | filter: $select.search">
                <span ng-bind-html="heading.name | highlight: $select.search"></span>
                <small ng-bind-html="heading.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </div-->
          <div class="btn-group col-sm-3">
            <button id="single-button-new-item" type="button" class="btn btn-primary" ng-click="addNewService()">Add</button>
          </div>
        </div>
      </form>
      <p *ngIf="order.totalValue > 0">{{order.totalValue}}</p>
      <!--div layout="column">
        <uib-accordion close-others="{{orderItemsStatus.oneOrderItemAtATime}}">
          <div uib-accordion-group class="panel-default" ng-repeat="service in order.services">
            <uib-accordion-heading>
              {{service.product.name}} {{service.area.name}} {{service.heading.name}} £{{service.product.price}}<i class="pull-right glyphicon glyphicon-pencil"></i>
            </uib-accordion-heading>
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" class="form-control" placeholder="Company Name" ng-model="service.advert.name">
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" class="form-control" placeholder="Telephone" ng-model="service.advert.telephone">
            </div>
            <div class="form-group">
              <label>Url</label>
              <input type="text" class="form-control" placeholder="URL" ng-model="service.advert.url">
            </div>
          </div>
        </uib-accordion>
        <p>Total: £{{order.totalValue}}</p>
        <button ng-disabled="order.totalValue == 0" class="btn btn-primary btn-block" ng-click="saveNewOrder()">Save Order</button>
      </div-->
    </div>
  </div>
</div>

